 <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
 <section id="aboutinstructor"><br /><br /></section>
  <div id="aboutwrap">
    <div class="container">
    <h2>Meet our Instructors</h2>
    <div class="span5" ng-repeat="instructor in instructors">
      <div class="about_item">
        <div class="about_item_center">
          <a href="" ng-controller="InstructorModalCtrl" ng-click="open(instructor)"><img alt="" src="{{instructor.image}}" /></a>
          <div class="clear"></div>
            <h3>{{instructor.name}}</h3>
        </div>
      </div>
    </div><!-- about_item -->
          <!-- span4 -->

  </div><!-- span4 -->
</div><!-- End Row -->
</div><!-- End aboutwrap -->